#content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-height: 600px;
}

#loading {
    height: 100vh;
    width: 100%;
    text-align: center;
    z-index: 9999;
    position: absolute;
    padding-top: 20%;
    background-color: rgba(0, 0, 0, 0.2);
}

.item-key {
    display: inline-block;
    width: 7rem;
}

.item-quantity-input {
    width: 4rem;
    font-size: 1.2rem;
    padding: 0.2rem;
    margin-right: 1rem;
}

.item-description {
    white-space: pre-line;
}

#search-button {
    border: 0px;
    background-color: transparent;
    right: 0.5rem;
    position: absolute;
    color: rgb(102, 102, 102);
}

#cart-overlay {
    position: absolute;
    left: -24rem;
    z-index: 1000;
    width: 450px;
}

.cart-overlay-item {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.image-gallery-image {
    height: 40vh;
}

.fs12 {
    font-size: 1.2rem !important;
}

.filter {
    border: 1px solid grey;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

.filter-title {
    min-width: 5rem;
    font-weight: bold;
    padding: .5rem 1rem;
}

.filter-content {
    padding: .5rem 1rem;
}

.filter-content>input {
    line-height: 20px;
}

.filter-price {
    width: 5rem;
}

.swiper-slide {
    text-align: center;
    font-size: 2rem;
    background: #eee;
}

#banner-text {
    position: absolute;
    z-index: 100;
    top: 40%;
    left: 40%;
    color: white;
    cursor: default;
}

.item-card-title {
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.2rem;
    height: 3.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-img-top {
    object-fit: contain;
}